auth-service/.env
qa_ui/.env
auth-service/.env

# Ignore virtual environment directory
.venv/
venv/

# Ignore Python cache directory
__pycache__/

# Ignore specific compiled files
*.pyc

# Ignore IDE specific files (like PyCharm)
.idea/
node_modules/
package-lock.json